/* config-font */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Roboto&display=swap');

/* config-reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* config-body */

body {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #6495ED;
}

/* config-main */

main {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
}

.Container-Calculadora {
    width: 50vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Box-Title {
    width: 25vw;
    height: 5vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Box-Visor {
    width: 25vw;
    height: 10vh;

    border-radius: 7px;
    background-color: #F0F8FF;
}

.Box-Select {
    width: 28vw;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Input-Moeda {
    width: 11vw;
    height: 6vh;

    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #F0F8FF;
}

.Box-Teclas {
    width: 20vw;
    height: 55vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Box-CalcOne {
    display: flex;
    justify-content: space-around;
}

.Box-CalcTwo {
    display: flex;
    justify-content: space-around;
}

.Box-CalcThree {
    display: flex;
    justify-content: space-around;
}

.Box-CalcFour {
    display: flex;
    justify-content: space-around;
}

.Box-CalcFive {
    display: flex;
    justify-content: space-around;
}

.Button-Calc {
    width: 4.2vw;
    height: 8vh;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: #F0F8FF;
}

.Button-Calc:hover {
    background-color: #dfefff;

    cursor: pointer;
}

.Button-CalcDEL {
    width: 6vw;
    height: 8vh;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: #F0F8FF;
}

.Button-CalcDEL:hover {
    background-color: #dfefff;

    cursor: pointer;
}

.Button-CalcConv {
    width: 9vw;
    height: 8vh;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: #F0F8FF;
}

.Button-CalcConv:hover {
    background-color: #dfefff;

    cursor: pointer;
}

.main-containercalcmore {
    width: 50vw;
    height: 40vh;

    display: flex;
    justify-content: center;
}

.main-othercontainercalcmore {
    width: 35vw;
    height: 40vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: black;
    background-color: #F0F8FF;
    border: none;
    border-radius: 15px;
}

.main-boxcalcmoe {
    width: 50%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-boxcalcmed {
    width: 50%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-titleboxmore {
    width: 50%;

    font-size: 1.2em;
    font-weight: 600;
}

.main-boxonebuttonmore {
    width: 100%;
    height: 20%;
    
    display: flex;
    justify-content: flex-start;
}

.main-boxtwobuttonmore {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: flex-end;
}

.main-onebuttonacess {
    width: 90%;
    height: 100%;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #6495ED;
}

.main-onebuttonacess:hover {
    background-color: #5f8ee6;

    cursor: pointer;
}

.main-twobuttonacess {
    width: 90%;
    height: 100%;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: #6495ED;
}

.main-twobuttonacess:hover {
    background-color: #5f8ee6;

    cursor: pointer;
}

.main-subbutton {
    color: black;
    text-decoration: none;
}

/* config-responsive */


