/* config-font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

/* config-reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* config-body */

body {
    color: white;
    font-family: 'Roboto Mono', monospace;
    background-color: #6495ED;
}

/* config-main */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 5vh;
}

.Container-Calculadora {
    width: 50vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-buttonhome {
    width: 3%;

    position: absolute;
    top: 2%;
    left: 1%;
}

.main-buttonhome:hover {
    width: 3.5%;

    top: 1.5%;
}

.Box-Title {
    width: 25vw;
    height: 5vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Box-Visor {
    width: 25vw;
    height: 13vh;

    border-radius: 15px;
    background-color: #F0F8FF;
}

.Box-Teclas {
    width: 25vw;
    height: 55vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Box-CalcOne {
    display: flex;
    justify-content: space-around;
}

.Box-CalcTwo {
    display: flex;
    justify-content: space-around;
}

.Box-CalcThree {
    display: flex;
    justify-content: space-around;
}

.Box-CalcFour {
    display: flex;
    justify-content: space-around;
}

.Box-CalcFive {
    display: flex;
    justify-content: space-around;
}

.Button-Calc {
    width: 4.2vw;
    height: 8vh;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #F0F8FF;
}

.Button-Calc:hover {
    background-color: #dfefff;

    cursor: pointer;
}

.Button-CalcDEL {
    width: 9vw;
    height: 8vh;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #F0F8FF;
}

.Button-CalcDEL:hover {
    background-color: #dfefff;

    cursor: pointer;
}

.Button-CalcMore {
    width: 9vw;
    height: 8vh;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #F0F8FF;
}

.Button-CalcMore:hover {
    background-color: #dfefff;

    cursor: pointer;
}

.Button-CalcLess {
    width: 9vw;
    height: 8vh;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #F0F8FF;

}

.Button-CalcLess:hover {
    background-color: #dfefff;

    cursor: pointer;
}

.Button-CalcX {
    width: 9vw;
    height: 8vh;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #F0F8FF;
}

.Button-CalcX:hover {
    background-color: #dfefff;

    cursor: pointer;
}

.Button-CalcIgual {
    width: 24vw;
    height: 8vh;

    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #F0F8FF;
}

.Button-CalcIgual:hover {
    background-color: #dfefff;

    cursor: pointer;
}

.main-containercalcmore {
    width: 50vw;
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-othercontainercalcmore {
    width: 35vw;
    height: 40vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: black;
    background-color: #F0F8FF;
    border: none;
    border-radius: 15px;
}

.main-boxcalcmoe {
    width: 50%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-boxcalcmed {
    width: 50%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-titleboxmore {
    width: 80%;

    font-size: 1.2em;
    font-weight: 600;
}

.main-boxonebuttonmore {
    width: 100%;
    height: 20%;
    
    display: flex;
    justify-content: flex-start;
}

.main-boxtwobuttonmore {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: flex-end;
}

.main-onebuttonacess {
    width: 90%;
    height: 100%;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #6495ED;
}

.main-onebuttonacess:hover {
    background-color: #5f8ee6;

    cursor: pointer
}

.main-twobuttonacess {
    width: 90%;
    height: 100%;

    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: #6495ED;
}

.main-twobuttonacess:hover {
    background-color: #5f8ee6;

    cursor: pointer
}

.main-subbutton {
    color: black;
    text-decoration: none;
}

/* config-responsive */

/* responsive-laptop */

@media (max-width: 1024px) {
    
    /* config-main */

    .Button-Calc {
        font-size: 0.7em;
    }
    
    .Button-CalcDEL {
        font-size: 0.7em;
    }
    
    .Button-CalcMore {
        font-size: 0.7em;
    }
    
    .Button-CalcLess {
        font-size: 0.7em;
    }
    
    .Button-CalcX {
        font-size: 0.7em;
    }
    
    .Button-CalcIgual {
        font-size: 1em;
    }

    .main-titleboxmore {
        font-size: 1.2em;
    }

    .main-onebuttonacess {
        font-size: 0.75em;
    }

    .main-twobuttonacess {
        font-size: 0.75em;
    }

}

/* responsive-tablet  */

@media (max-width: 768px) {
    
    /* config-main */

    .Box-Visor {
        width: 30vw;
        
        border-radius: 10px;
    }

    .Box-Teclas {
        width: 30vw;
    }

    .Button-Calc {
        width: 5vw;
        
        font-size: 0.65em;
    }
    
    .Button-CalcDEL {
        font-size: 0.65em;
    }
    
    .Button-CalcMore {
        font-size: 0.65em;
    }
    
    .Button-CalcLess {
        font-size: 0.65em;
    }
    
    .Button-CalcX {
        font-size: 0.65em;
    }
    
    .Button-CalcIgual {
        width: 28vw;
    }
    
    .main-othercontainercalcmore {
        width: 45vw;
        height: 30vh;
    }

    .main-titleboxmore {
        font-size: 1em;
    }

    .main-onebuttonacess {
        font-size: 0.65em;
    }

    .main-twobuttonacess {
        font-size: 0.65em;
    }

}

/* responsive-mobile G  */

@media (max-width: 425px) {
    
    /* config-main */

    .main-buttonhome {
        width: 6%;
    }

    main {
        width: 100vw;
        height: 140vh;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .Container-Calculadora {
        width: 70vw;
    }

    .Box-Title {
        width: 60vw;
    }

    .Box-Visor {
        width: 60vw;
    }

    .Box-Teclas {
        width: 60vw;
    }

    .Button-Calc {
        width: 10vw;
    }
    
    .Button-CalcDEL {
        width: 20vw;
    }
    
    .Button-CalcMore {
        width: 20vw;
    }
    
    .Button-CalcLess {
        width: 20vw;
    }
    
    .Button-CalcX {
        width: 20vw;
    }
    
    .Button-CalcIgual {
        width: 58vw;
    }

    .main-containercalcmore {
        width: 60vw;
    }

    .main-othercontainercalcmore {
        width: 60vw;
    }

    .main-titleboxmore {
        font-size: 0.85em;
    }

}

/* responsive-mobile M */

@media (max-width: 375px) {
    
    /* config-main */

    .Box-Title {
        width: 65vw;
    }

    .Box-Visor {
        width: 65vw;
    }

    .Box-Teclas {
        width: 65vw;
    }

    .Button-Calc {
        width: 11vw;
    }
    
    .Button-CalcDEL {
        width: 21vw;
    }
    
    .Button-CalcMore {
        width: 21vw;
    }
    
    .Button-CalcLess {
        width: 21vw;
    }
    
    .Button-CalcX {
        width: 21vw;
    }
    
    .Button-CalcIgual {
        width: 64vw;
    }

    .main-containercalcmore {
        width: 65vw;
    }

    .main-othercontainercalcmore {
        width: 65vw;
    }

    .main-titleboxmore {
        font-size: 0.9em;
    }

}

/* responsive-mobile P */

@media (max-width: 320px) {
    
    /* config-main */

    .Button-Calc {
        width: 12vw;
    }

    .main-titleboxmore {
        font-size: 0.75em;
    }

}
